                * {
                    padding: 0;
                    margin: 0;
                    text-decoration: none;
                    list-style: none;
                    box-sizing: border-box;
                }
                
                body {
                    font-family: montserrat;
                }
                
                nav {
                    background: #180f2f;
                    height: 80px;
                    width: 100%;
                }
                
                label.logo {
                    color: white;
                    font-size: 35px;
                    line-height: 80px;
                    padding: 0 10px;
                    font-weight: bold;
                }
                
                nav ul {
                    float: right;
                    margin-right: 20px;
                }
                
                nav ul li {
                    display: inline-block;
                    line-height: 80px;
                    margin: 0 5px;
                }
                
                nav ul li a {
                    color: white;
                    font-size: 17px;
                    padding: 7px 13px;
                    border-radius: 3px;
                    text-transform: uppercase;
                }
                
                a.active,
                a:hover {
                    background: #1d075f;
                    transition: .5s;
                }
                
                .checkbtn {
                    font-size: 30px;
                    color: white;
                    float: right;
                    line-height: 80px;
                    margin-right: 40px;
                    cursor: pointer;
                    display: none;
                }
                
                #check {
                    display: none;
                }
                
                @media (max-width: 1000px) {
                    label.logo {
                        z-index: 2;
                        font-size: 30px;
                        padding-left: 10px;
                    }
                    nav ul li a {
                        font-size: 16px;
                    }
                }
                
                @media (max-width: 1000px) {
                    .checkbtn {
                        display: block;
                    }
                    ul {
                        z-index: 2;
                        position: fixed;
                        width: 100%;
                        height: 100vh;
                        background: #1d075f;
                        top: 80px;
                        left: -100%;
                        text-align: center;
                        transition: all .5s;
                    }
                    nav ul li {
                        display: block;
                        margin: 50px 0;
                        line-height: 30px;
                    }
                    nav ul li a {
                        font-size: 20px;
                    }
                    a:hover,
                    a.active {
                        background: white;
                        color: #180f2f;
                    }
                    #check:checked~ul {
                        left: 0;
                    }
                }
                
                .img_m {
                    display: block;
                    height: 100%;
                    max-height: 100vh;
                    max-width: 100%;
                    -webkit-animation: mover 2s infinite alternate;
                    animation: mover 2s infinite alternate;
                }
                
                @-webkit-keyframes mover {
                    0% {
                        transform: translateY(0);
                    }
                    100% {
                        transform: translateY(-20px);
                    }
                }
                
                @keyframes mover {
                    0% {
                        transform: translateY(0);
                    }
                    100% {
                        transform: translateY(-20px);
                    }
                }
                
                .invite-button {
                    font-style: arial;
                    background-color: #d5352af6;
                    color: white;
                    border: none;
                    height: 36px;
                    padding-left: 15px;
                    padding-right: 15px;
                    font-size: 18px;
                    border-radius: 6px;
                    cursor: pointer;
                    transition: opacity 0.4s;
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
                }
                
                .invite-button:hover {
                    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.35)
                }
                
                .join-button {
                    background-color: rgb(248, 248, 248);
                    color: rgb(42, 15, 224);
                    border: rgb(47, 16, 246);
                    height: 36px;
                    width: 82px;
                    border-radius: 1px;
                    border-style: solid;
                    border-width: 1px;
                    margin-left: 6px;
                    cursor: pointer;
                    transition: background-color 0.5s, color 0.5s;
                }
                
                .join-button:hover {
                    background-color: blue;
                    color: azure;
                }
                
                .join-button:active {
                    opacity: 0.3;
                }
                
                .server-button {
                    background-color: rgb(40, 105, 227);
                    color: rgb(236, 235, 246);
                    border: none;
                    height: 36px;
                    margin-left: 8px;
                    border-radius: 6px;
                    font-weight: bold;
                    font-size: 15px;
                    cursor: pointer;
                    padding-left: 15px;
                    padding-right: 15px;
                    text-align: center;
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
                }
                
                .server-button:hover {
                    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.35)
                }