                * {
                    padding: 0;
                    margin: 0;
                    text-decoration: none;
                    list-style: none;
                    box-sizing: border-box;
                }
                
                nav {
                    background: #180f2f;
                    height: 70px;
                    width: 100%;
                }
                
                label.logo {
                    color: white;
                    font-size: 35px;
                    line-height: 80px;
                    padding: 0 10px;
                    font-weight: bold;
                }
                
                nav ul {
                    float: right;
                    margin-right: 20px;
                }
                
                nav ul li {
                    display: inline-block;
                    line-height: 80px;
                    margin: 0 5px;
                }
                
                nav ul li a {
                    color: white;
                    font-size: 17px;
                    padding: 7px 7px;
                    border-radius: 3px;
                    text-transform: uppercase;
                }
                
                a.active,
                a:hover {
                    background: #1d075f;
                    transition: .5s;
                }
                
                .checkbtn {
                    font-size: 30px;
                    color: white;
                    float: right;
                    line-height: 80px;
                    margin-right: 40px;
                    cursor: pointer;
                    display: none;
                }
                
                #check {
                    display: none;
                }
                
                .pagetop {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                }
                
                @media (max-width: 1000px) {
                    label.logo {
                        z-index: 2;
                        font-size: 30px;
                        padding-left: 10px;
                    }
                    nav ul li a {
                        font-size: 16px;
                    }
                }
                
                @media (max-width: 1000px) {
                    .pagetop {
                        display: inline;
                    }
                    .checkbtn {
                        display: block;
                    }
                    ul {
                        z-index: 2;
                        position: fixed;
                        width: 100%;
                        height: 100vh;
                        background: #1d075f;
                        top: 80px;
                        left: -100%;
                        text-align: center;
                        transition: all .5s;
                    }
                    nav ul li {
                        display: block;
                        margin: 50px 0;
                        line-height: 30px;
                    }
                    nav ul li a {
                        font-size: 20px;
                    }
                    a:hover,
                    a.active {
                        background: white;
                        color: #180f2f;
                    }
                    #check:checked~ul {
                        left: 0;
                    }
                }
                
                .img_m {
                    display: block;
                    height: 90%;
                    max-height: 90vh;
                    max-width: 90%;
                    -webkit-animation: mover 1.5s infinite alternate;
                    animation: mover 1.5s infinite alternate;
                }
                
                @-webkit-keyframes mover {
                    0% {
                        transform: translateY(0);
                    }
                    100% {
                        transform: translateY(-20px);
                    }
                }
                
                @keyframes mover {
                    0% {
                        transform: translateY(0);
                    }
                    100% {
                        transform: translateY(-20px);
                    }
                }
                
                .invite-button {
                    font-style: arial;
                    background-color: #d5352af6;
                    color: white;
                    border: none;
                    height: 36px;
                    padding-left: 15px;
                    padding-right: 15px;
                    font-weight: bold;
                    font-size: 15px;
                    border-radius: 6px;
                    cursor: pointer;
                    transition: opacity 0.4s;
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
                }
                
                .invite-button:hover {
                    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.35)
                }
                
                .api-button {
                    background-color: rgb(248, 248, 248);
                    color: rgb(42, 15, 224);
                    border: rgb(47, 16, 246);
                    height: 36px;
                    width: 82px;
                    border-radius: 8px;
                    border-style: solid;
                    border-width: 1px;
                    margin-left: 6px;
                    cursor: pointer;
                    margin-bottom: 8px;
                    transition: background-color 0.5s, color 0.5s;
                }
                
                .api-button:hover {
                    color: rgb(240, 255, 255);
                    background-color: blue;
                }
                
                .api-button:active {
                    opacity: 0.3;
                }
                
                .server-button {
                    background-color: rgb(40, 105, 227);
                    color: rgb(236, 235, 246);
                    border: none;
                    height: 36px;
                    margin-left: 8px;
                    border-radius: 6px;
                    font-weight: bold;
                    font-size: 15px;
                    cursor: pointer;
                    padding-left: 15px;
                    padding-right: 15px;
                    text-align: center;
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
                }
                
                .server-button:hover {
                    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.35)
                }
                /* Fixed sidenav, fradiull height */
                
                .sidenav {
                    height: 100%;
                    width: 200px;
                    position: relative;
                    display: inline-block;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    background-color: #111;
                    overflow-x: hidden;
                    padding-top: 20px;
                }
                /* Style the sidenav links and the dropdown button */
                
                .sidenav input,
                .dropdown-btn {
                    padding: 6px 8px 6px 16px;
                    text-decoration: none;
                    font-size: 20px;
                    color: #818181;
                    display: block;
                    border-color: black;
                    border-width: 1px;
                    border-radius: 10px;
                    background: none;
                    width: 100%;
                    text-align: left;
                    cursor: pointer;
                    outline: none;
                }
                /* On mouse-over */
                
                .sidenav input:hover,
                .dropdown-btn:hover {
                    color: #f1f1f1;
                }
                /* Main content */
                /* Add an active class to the active dropdown button */
                
                .active {
                    background-color: rgb(32, 6, 41);
                    color: white;
                }
                /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
                
                .dropdown-container {
                    display: none;
                    background-color: #262626;
                    padding-left: 8px;
                }
                /* Optional: Style the caret down icon */
                
                .fa-caret-down {
                    float: right;
                    padding-right: 8px;
                }
                /* Some media queries for responsiveness */
                
                @media screen and (max-height: 450px) {
                    .sidenav {
                        padding-top: 15px;
                    }
                    .sidenav a {
                        font-size: 18px;
                    }
                }
                
                .img-container {
                    display: none;
                    background-color: #262626;
                    padding-left: 8px;
                }
                
                .change {
                    color: white;
                    text-align: justify;
                    margin-top: 15px;
                    margin-bottom: 8px;
                    margin-right: 15px;
                    font-family: Arial;
                    font-weight: bolder;
                    font-size: 25px;
                    max-height: 50%;
                    max-width: 50%;
                }